beautifulsoup4

charset_normalizer
chromadb
faiss_cpu
langchain
langchain_chroma
langchain_community
langchain_core
langchain_openai
langchain_text_splitters
numpy
ollama
openai
pandas
pdfplumber
plotly
pypdf
PyPDF2
python-dotenv
python_docx
Requests
st_pages
streamlit
streamlit_authenticator
streamlit_extras
streamlit_lottie
streamlit_option_menu
streamlit_pdf_viewer
mysql-connector-python
Sqlalchemy


